build: off

environment:
  matrix:
    - job_name: ubuntu
      appveyor_build_worker_image: Ubuntu2004
      APPVEYOR: True
      CI: True
    - job_name: macos
      appveyor_build_worker_image: macos
      APPVEYOR: True
      CI: True
    - job_name: windows
      appveyor_build_worker_image: Visual Studio 2019
      CHERE_INVOKING: 1
      MSYSTEM: MINGW64
      RUBY_VERSION: 27

for:
  -
    matrix:
      only:
        - job_name: ubuntu
    init:
      - sh: sudo apt-get install -y libzstd-dev
    test_script:
      - sh: scripts/ci_test.sh
    after_test:
      - sh: bash <(curl -s "https://codecov.io/bash")

  -
    matrix:
      only:
        - job_name: macos
    init:
      - sh: brew install zstd
    test_script:
      - sh: sudo -E scripts/ci_test.sh
    after_test:
      - sh: bash <(curl -s "https://codecov.io/bash")

  -
    matrix:
      only:
        - job_name: windows
    init:
      - cmd: set PATH=C:\Ruby%RUBY_VERSION%-x64\bin;%PATH%
    test_script:
      - cmd: C:\msys64\usr\bin\bash -cl "./scripts/ci_test.sh"
    after_test:
      - cmd: C:\msys64\usr\bin\bash -cl "bash <(curl -s 'https://codecov.io/bash')"
