Language: Cpp
BasedOnStyle: Mozilla

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: false
ColumnLimit: 120
Cpp11BracedListStyle: true
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: true
TabWidth: 2
